<style>
    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .waiting-game {
        border-top: 16px solid green;
        /* Blue */
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<main role="main" class="container">
    <div id="page-loader">
        <div class="loader"></div>
        <p>
            Cargando
        </p>
    </div>
    <div id="game-loader" style="display:none;">
        <div class="loader waiting-game"></div>
        <p>
            Esperando que termine el juego anterior.
        </p>
    </div>
    <div>

      <div id="player-loader" style="display:none;">
        <div class="loader waiting-players"></div>
        <p>
          Esperando que se unan jugadores.
        </p>
      </div>
      <div>

        <div id="main-screen" style="display:none;">
            <h1 id="username"></h1>
        </div>
        <div id="game-screen" style="display:none;">
            <h1 id="current-letter">Letra Actual:</h1>
            <h2 id="countdown" style="display:none;">10 segundos restantes</h2>
            <form action="" id="user-answers">
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" id="nombre" class="input" />
                <br />

                <label for="color">Color</label>
                <input name="color" type="text" id="color"  class="input"/>
                <br />

                <label for="fruto">Fruto</label>
                <input name="fruto" type="text" id="fruto"  class="input"/>
                <br />
                <button type="submit" id="submit" disabled>Basta</button>
            </form>
        </div>
    </div>
</main>
